@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        filter: grayscale(100%);
    }

    body {
        @apply font-mono;
    }

    :not(pre) > code {
        @apply px-1 py-0.5 font-mono rounded bg-neutral-200 text-neutral-800;
        font-size: 0.9em;
    }

    h1 {
        @apply mb-6 text-4xl font-bold tracking-tight md:text-5xl;
    }
}

a {
    @apply underline
}

.markdown {
    @apply mb-1;
}

.alert .markdown {
    @apply mb-0;
}

.markdown p {
    @apply mb-3;
}

.btn:disabled {
    @apply text-neutral-400 bg-neutral-700;
}